In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,21-02-05 03:07:55,-46.1927,168.8643,75.52,39,99,2.26
1,1,Nikolskoye,RU,21-02-05 03:08:11,59.7035,30.7861,8.01,85,20,8.95
2,2,Torbay,CA,21-02-05 03:05:22,47.6666,-52.7314,39.20,100,90,8.05
3,3,Adrar,MR,21-02-05 03:08:28,20.5022,-10.0711,65.46,24,35,5.46
4,4,Goderich,CA,21-02-05 03:13:23,43.7501,-81.7165,30.20,86,100,20.71
5,5,Bengkulu,ID,21-02-05 03:05:32,-3.8004,102.2655,84.67,62,18,3.27
6,6,Albany,US,21-02-05 03:03:25,42.6001,-73.9662,27.00,61,0,2.13
7,7,Mahibadhoo,MV,21-02-05 03:13:24,3.7833,72.9667,81.25,76,100,15.55
8,8,Ode,NG,21-02-05 03:13:24,7.7899,5.7117,68.13,84,0,2.35
9,9,Ushuaia,AR,21-02-05 03:08:09,-54.8000,-68.3000,44.60,81,40,29.93

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

In [10]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Torbay,CA,21-02-05 03:05:22,47.6666,-52.7314,39.20,100,90,8.05
3,3,Adrar,MR,21-02-05 03:08:28,20.5022,-10.0711,65.46,24,35,5.46
4,4,Goderich,CA,21-02-05 03:13:23,43.7501,-81.7165,30.20,86,100,20.71
8,8,Ode,NG,21-02-05 03:13:24,7.7899,5.7117,68.13,84,0,2.35
9,9,Ushuaia,AR,21-02-05 03:08:09,-54.8000,-68.3000,44.60,81,40,29.93
10,10,Bluff,NZ,21-02-05 03:04:48,-46.6000,168.3333,58.35,73,100,11.74
12,12,Asau,RO,21-02-05 03:09:00,46.4333,26.4000,37.00,69,17,2.21
14,14,Sari,IR,21-02-05 03:11:17,36.5633,53.0601,52.83,43,72,3.62
15,15,Knysna,ZA,21-02-05 03:13:24,-34.0363,23.0471,60.80,82,0,2.30
16,16,Nguru,NG,21-02-05 03:13:25,12.8791,10.4526,65.41,26,0,13.04

In [11]:
# Checking null values
preferred_cities_df.count()

City_ID       231
City          231
Country       231
Date          231
Lat           231
Lng           231
Max Temp      231
Humidity      231
Cloudiness    231
Wind Speed    231
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
2     Torbay      CA     39.20  47.6666  -52.7314
3      Adrar      MR     65.46  20.5022  -10.0711
4   Goderich      CA     30.20  43.7501  -81.7165
8        Ode      NG     68.13   7.7899    5.7117
9    Ushuaia      AR     44.60 -54.8000  -68.3000
10     Bluff      NZ     58.35 -46.6000  168.3333
12      Asau      RO     37.00  46.4333   26.4000
14      Sari      IR     52.83  36.5633   53.0601
15    Knysna      ZA     60.80 -34.0363   23.0471
16     Nguru      NG     65.41  12.8791   10.4526

In [13]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [14]:
hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Torbay,CA,39.20,47.6666,-52.7314,Gallows Cove
4,Goderich,CA,30.20,43.7501,-81.7165,Harmony Inn
8,Ode,NG,68.13,7.7899,5.7117,MORALAB HOTEL
9,Ushuaia,AR,44.60,-54.8000,-68.3000,Albatros Hotel
10,Bluff,NZ,58.35,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
12,Asau,RO,37.00,46.4333,26.4000,Casa Mika Ciobanus
14,Sari,IR,52.83,36.5633,53.0601,Tajan Inn
15,Knysna,ZA,60.80,-34.0363,23.0471,Protea Hotel by Marriott Knysna Quays
16,Nguru,NG,65.41,12.8791,10.4526,Government Lodge
17,Port Alfred,ZA,66.99,-33.5906,26.8910,The Halyards Hotel

In [15]:
hotel_df.count()

City          217
Country       217
Max Temp      217
Lat           217
Lng           217
Hotel Name    217
dtype: int64