## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,68.00,63,75,17.27,broken clouds
1,1,Mataura,NZ,-46.1927,168.8643,81.86,44,5,1.34,clear sky
2,2,Busselton,AU,-33.6500,115.3333,62.01,95,100,3.00,light rain
3,3,Ancud,CL,-41.8697,-73.8203,62.60,45,0,10.36,clear sky
4,4,Fuerte Olimpo,PY,-21.0415,-57.8738,70.05,64,0,4.12,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
templimit_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)]
templimit_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,68.00,63,75,17.27,broken clouds
2,2,Busselton,AU,-33.6500,115.3333,62.01,95,100,3.00,light rain
3,3,Ancud,CL,-41.8697,-73.8203,62.60,45,0,10.36,clear sky
5,5,Hermanus,ZA,-34.4187,19.2345,66.99,94,98,4.76,overcast clouds
7,7,Port Alfred,ZA,-33.5906,26.8910,66.99,87,33,4.00,scattered clouds
8,8,Castro,BR,-24.7911,-50.0119,61.25,92,42,10.87,scattered clouds
9,9,Kodiak,US,57.7900,-152.4072,35.60,64,1,5.75,clear sky
16,16,Bluff,NZ,-46.6000,168.3333,61.45,71,0,7.96,clear sky
17,17,Sao Filipe,CV,14.8961,-24.4956,69.31,74,18,14.97,few clouds
18,18,Silver City,US,32.7701,-108.2803,43.00,26,1,6.91,clear sky

In [11]:
# 4a. Determine if there are any empty rows.
templimit_cities_df.count()

City_ID                275
City                   275
Country                271
Lat                    275
Lng                    275
Max Temp               275
Humidity               275
Cloudiness             275
Wind Speed             275
Current Description    275
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
templimit_cities_new_df = templimit_cities_df.dropna()
templimit_cities_new_df.count()

City_ID                271
City                   271
Country                271
Lat                    271
Lng                    271
Max Temp               271
Humidity               271
Cloudiness             271
Wind Speed             271
Current Description    271
dtype: int64

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = templimit_cities_new_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hobart,AU,68.00,broken clouds,-42.8794,147.3294,
2,Busselton,AU,62.01,light rain,-33.6500,115.3333,
3,Ancud,CL,62.60,clear sky,-41.8697,-73.8203,
5,Hermanus,ZA,66.99,overcast clouds,-34.4187,19.2345,
7,Port Alfred,ZA,66.99,scattered clouds,-33.5906,26.8910,
8,Castro,BR,61.25,scattered clouds,-24.7911,-50.0119,
9,Kodiak,US,35.60,clear sky,57.7900,-152.4072,
16,Bluff,NZ,61.45,clear sky,-46.6000,168.3333,
17,Sao Filipe,CV,69.31,few clouds,14.8961,-24.4956,
18,Silver City,US,43.00,clear sky,32.7701,-108.2803,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hobart,AU,68.00,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
2,Busselton,AU,62.01,light rain,-33.6500,115.3333,Observatory Guest House
3,Ancud,CL,62.60,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa
5,Hermanus,ZA,66.99,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
7,Port Alfred,ZA,66.99,scattered clouds,-33.5906,26.8910,The Halyards Hotel
8,Castro,BR,61.25,scattered clouds,-24.7911,-50.0119,CHACARA BAILLY
9,Kodiak,US,35.60,clear sky,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
16,Bluff,NZ,61.45,clear sky,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
17,Sao Filipe,CV,69.31,few clouds,14.8961,-24.4956,Tortuga B&B
18,Silver City,US,43.00,clear sky,32.7701,-108.2803,Copper Manor Motel
19,Mae Ramat,TH,69.80,mist,16.9840,98.5166,บ้านโฮ่งโฮมสเตย์ แม่ระมาด ตาก
21,Aswan,EG,55.02,clear sky,24.0934,32.9070,Nuba Nile
22,Lagoa,PT,60.15,overcast clouds,39.0500,-27.9833,Casa Das Faias
24,Lindenberg,DE,43.00,overcast clouds,49.3803,8.0986,Hotel Tenner
28,Jodhpur,IN,52.07,clear sky,26.2867,73.0300,"Umaid Bhawan Palace, Jodhpur"

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))